* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
  color: hsl(18, 45%, 93%);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.92),
      rgba(31, 9, 3, 0.9)
    ),
    url("https://images.unsplash.com/photo-1560698711-6df2370d7d62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

hr {
  height: 0.7px;
  width: 47.3%;
  background: hsla(20, 80%, 87%, 0.9);
  margin-bottom: 10%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC");
}

.brand {
  justify-self: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.pearson {
  /* background: -webkit-linear-gradient(#eca593, hsl(20, 76%, 89%, 0.95));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 2.7rem;
  letter-spacing: 0.36rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10%;
  color: hsl(20, 60%, 78%);
  text-shadow: 0 0 10px #eea178, 0 0 20px #eea178, 0 0 30px #eea178,
    0 0 40px #ce350f, 0 0 70px #ce350f, 0 0 80px #ce350f, 0 0 100px #ce350f;
  /* animation: fadeIn 0.05s ease-in-out;
  animation-fill-mode: backwards; */

  animation: fadeIn 0.2s 0.1s, flicker 0.4s ease-in 0.62s;
}

.arson {
  /* background: -webkit-linear-gradient(#eca593, hsl(20, 76%, 90%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  margin-bottom: 10%;
  line-height: 3rem;
  color: hsl(20, 60%, 76%);
  text-shadow: 0 0 10px #eea178, 0 0 20px #eea178, 0 0 30px #eea178,
    0 0 40px #c0370d, 0 0 70px #c0370d, 0 0 80px #c0370d, 0 0 100px #c0370d;

  animation: flicker 0.4s ease-in 0.62s;
}

.arson-span {
  animation: fadeIn 0.45s ease-out 0.2s;
  /* animation-fill-mode: backwards; */
}

.sauce-span {
  animation: fadeIn 0.45s ease-out 0.4s;
}

.coming {
  color: hsla(20, 75%, 86%, 0.9);
  letter-spacing: 0.45rem;
  font-family: "Rock Salt", cursive;

  margin-bottom: 10%;

  font-size: 4.6rem;
}

button {
  display: inline-block;
  background: linear-gradient(#a84213, #a73c12);
  color: hsl(18, 45%, 92%);
  border: 1px solid #a84213;
  border-radius: 4px;
  padding: 2%;
  width: 20%;
  margin-left: 1%;
}

button:hover {
  background: #c75018;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

form input {
  background: transparent;
  border: 2px solid rgba(250, 250, 250, 0.445);
  padding: 1.9%;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

form input:focus {
  outline: none;
  border-color: hsl(18, 45%, 88%, 0.8);
}

form p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  width: 72%;
  margin-bottom: 3%;
}

.questions {
  color: rgba(255, 255, 255, 0.6);
}

.questions:hover {
  color: hsl(18, 45%, 88%, 0.9);
}

a {
  color: rgba(255, 255, 255, 0.6);
}

a:hover {
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .brand {
    padding: 0 10% 0;
  }

  hr {
    width: 72%;
  }
}

@media only screen and (max-width: 420px) {
  .pearson {
    font-size: 2rem;
    letter-spacing: 0.72rem;
    margin-bottom: 0;
    margin-top: -15%;
  }

  .arson {
    font-size: 3.2rem;
    letter-spacing: 0.72rem;
    line-height: 2.8rem;
    margin-bottom: 20%;
  }

  .sauce-span {
    letter-spacing: 0.8rem;
  }

  hr {
    height: 1px;
    width: 57.5%;
    margin-bottom: 15%;
  }

  .coming {
    font-size: 3.4rem;
    margin-bottom: 15%;
    line-height: 4.4rem;
  }

  .questions {
    font-size: 1rem;
  }

  form {
    margin-bottom: 20%;
    width: 100%;
  }

  form p {
    font-size: 1.3rem;
    width: 98%;
    margin-bottom: 5%;
  }

  button {
    width: 25%;
    margin-top: 4%;
  }
}

@media only screen and (max-width: 360px) {
  .brand {
    padding: 5% 15% 5%;
  }

  .pearson {
    font-size: 1.3rem;
    margin-top: 7%;
  }

  .arson {
    font-size: 2.2rem;
  }

  .coming {
    font-size: 2.7rem;
    margin-bottom: 10%;
    line-height: 3.8rem;
  }

  hr {
    width: 69%;
  }

  form {
    margin-bottom: 15%;
  }

  form p {
    font-size: 1.05rem;
    width: 92%;
    margin-bottom: 10%;
  }

  button {
    width: 30%;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .wrapper {
    height: fit-content;
    min-width: fit-content;
  }

  .brand {
    padding: 10%;
  }
  .pearson {
    margin-top: -2%;
  }

  .arson {
    line-height: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 15%;
  }

  .coming {
    line-height: 5.9rem;
    letter-spacing: 0.3rem;
  }

  form {
    margin-bottom: 3%;
  }

  form p {
    margin-bottom: 5%;
    width: 90%;
  }

  .questions {
    margin-bottom: -5%;
  }

  hr {
    width: 67%;
  }
}

@media screen and (max-width: 750px) and (orientation: landscape) {
  hr {
    width: 77%;
  }

  .coming {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .pearson {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
  }

  .arson {
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
  }

  .coming {
    font-size: 3.1rem;
  }

  hr {
    width: 66%;
    margin-bottom: 8%;
  }

  form {
    margin-bottom: 7%;
  }

  form p {
    font-size: 1.3rem;
  }

  .questions {
    margin-bottom: 0;
  }
}
