* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;

  height: 100vh;
  width: 100vw;
  overflow: auto;

  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.93),
      rgba(20, 5, 5, 0.87)
    ),
    url("https://images.unsplash.com/photo-1560698711-6df2370d7d62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60&SameSite=None");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Form spam filter */
.hidden {
  display: none;
}

/* hr {
  height: 0.7px;
  width: 47.3%;
  background: hsla(20, 80%, 87%, 0.9);
  margin-bottom: 10%;
} */

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC");
}

.brand {
  justify-self: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.pearson {
  margin-top: 10%;

  font-size: 2.7rem;
  letter-spacing: 0.36rem;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(36, 94%, 86%);
  text-shadow: 0 0 10px #eea178, 0 0 20px #eea178, 0 0 30px #eea178,
    0 0 40px #ce820f, 0 0 70px #ce820f, 0 0 80px #ce820f, 0 0 100px #ce820f;

  animation: fadeIn 0.3s 0.1s 2, flickerWord 0.6s linear 0.82s;
}

.arson {
  margin-bottom: 10%;

  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  line-height: 3rem;
}

.arson-span {
  color: hsl(20, 60%, 80%);
  text-shadow: 0 0 10px #eea178, 0 0 20px #eea178, 0 0 30px #eea178,
    0 0 40px #c0370d, 0 0 70px #c0370d, 0 0 80px #c0370d, 0 0 100px #ce350f;

  animation: flickerWord 0.6s linear 1.2s;
}

.sauce-span {
  color: hsl(20, 60%, 80%);
  text-shadow: 0 0 10px #eea178, 0 0 20px #eea178, 0 0 30px #eea178,
    0 0 40px #c0370d, 0 0 70px #c0370d, 0 0 80px #050505, 0 0 100px #050505;

  animation: flickerWord 0.6s 2 linear 1.2s;
}

.flicker-slow {
  animation: flickerLetter 3.5s linear infinite 1.5s;
}

.flicker-fast {
  animation: flickerLetter 1.8s linear infinite;
}

.coming {
  margin-bottom: 10%;

  font-size: 4.6rem;
  color: hsla(20, 75%, 88%, 0.9);
  text-shadow: 0 -2px 8px #ff5e1e60;
  letter-spacing: 0.45rem;
  font-family: "Rock Salt", cursive;
}

button {
  display: inline-block;
  margin-left: 1%;
  padding: 2%;
  width: 20%;

  color: hsl(20, 75%, 90%, 0.93);

  background: linear-gradient(#f77846e0, #c2511c, #a0441aec);
  border: none;
  border-radius: 4px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

form input {
  display: inline-block;
  padding: 1.9%;

  color: rgba(255, 255, 255, 0.6);

  background: transparent;
  border: 2px solid rgba(250, 250, 250, 0.445);
}

form input:focus {
  outline: none;
  border-color: hsl(18, 45%, 88%, 0.8);
}

form p {
  width: 72%;
  margin-bottom: 3%;

  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.questions {
  color: rgba(255, 255, 255, 0.6);
}

.questions:hover {
  color: hsl(18, 45%, 88%, 0.9);
}

a {
  color: rgba(255, 255, 255, 0.6);
}

a:hover {
  text-decoration: none;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flickerWord {
  0%,
  20%,
  22%,
  64%,
  65%,
  70%,
  100% {
    opacity: 0.99;
  }
  19%,
  21%,
  23%,
  63%,
  69% {
    opacity: 0.4;
  }
}

@keyframes flickerLetter {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.9;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .brand {
    padding: 0 10% 0;
  }

  /* hr {
    width: 72%;
  } */
}

@media only screen and (max-width: 420px) {
  .pearson {
    margin-bottom: 0;
    margin-top: -12%;

    font-size: 2.2rem;
    letter-spacing: 0.7rem;
  }

  .arson {
    margin-bottom: 20%;

    font-size: 3.4rem;
    letter-spacing: 0.72rem;
    line-height: 3rem;
  }

  .sauce-span {
    letter-spacing: 0.8rem;
  }

  /* hr {
    margin-bottom: 15%;
    height: 1px;
    width: 57.5%;
  } */

  .coming {
    margin-bottom: 20%;

    font-size: 3.4rem;
    line-height: 4.6rem;
  }

  form {
    margin-bottom: 20%;
    width: 100%;
  }

  form p {
    margin-bottom: 5%;
    width: 98%;

    font-size: 1.3rem;
  }

  button {
    margin-top: 4%;

    width: 25%;
    padding: 2.3%;
  }

  .questions {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 360px) {
  .brand {
    padding: 5% 15% 5%;
  }

  .pearson {
    margin-top: 7%;

    font-size: 1.3rem;
  }

  .arson {
    font-size: 2.2rem;
  }

  .coming {
    margin-bottom: 10%;

    font-size: 2.7rem;
    line-height: 3.8rem;
  }

  /* hr {
    width: 69%;
  } */

  form {
    margin-bottom: 15%;
  }

  form p {
    margin-bottom: 10%;

    width: 92%;
    font-size: 1.05rem;
  }

  button {
    width: 30%;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .wrapper {
    height: fit-content;
    min-width: fit-content;
  }

  .brand {
    padding: 10%;
  }

  .pearson {
    margin-top: -8%;
  }

  .arson {
    margin-bottom: 8%;

    line-height: 3rem;
    letter-spacing: 0.3rem;
  }

  .coming {
    line-height: 5.9rem;
    letter-spacing: 0.3rem;
  }

  form {
    margin-bottom: 3%;
  }

  form p {
    margin-bottom: 5%;
    width: 90%;
  }

  .questions {
    margin-bottom: -5%;
  }

  /* hr {
    width: 67%;
  } */
}

@media screen and (max-width: 750px) and (orientation: landscape) {
  /* hr {
    width: 77%;
  } */

  .coming {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .pearson {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
  }

  .arson {
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
  }

  .coming {
    font-size: 3.1rem;
  }

  /* hr {
    margin-bottom: 8%;
    width: 66%;
  } */

  form {
    margin-bottom: 7%;
  }

  form p {
    font-size: 1.3rem;
  }

  .questions {
    margin-bottom: 0;
  }
}
